.footer-header{
    font-family: 'Federant', cursive;
    font-size: 2em;
    font-weight: 20;
}

.menu_rainydays {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/* Bildet*/
.logo {
    width: 90%;
    padding: 0px;
    margin: 0px;
}

/* Meny*/
.hamburger {
    display: block;
    float: right;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: #113040;
}

label[for="hamburger-menu"] {
    display: block;
}

nav {
    display: block;
    width: 100%;
    list-style: none;
    box-sizing: none;
}

nav > ul {
    align-items: center;
    background-color: #113040;
    padding: 25px;
    margin: 10px;
    width: 100%;
    height: 240px;
}

nav ul li {
    float: none;
}

nav ul li a {
    width: 100%;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: rgba(255, 255, 255, .3)
}

.menu-elements {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 1.8em;
}

.action {   /* Sette linje på aktiv side for mer brukervennlighet*/
    text-decoration: underline;
}

#hamburger-menu {
    display: none;
}

.hamburger:checked ~ nav {
    display: block; /* Få fram nav når checkbox er checked*/
}


.fas,
.far { /* Ikoner i meny*/
     color: #FFF;
     font-size: 40px;
}

/* Floate help-elementene i meny til høyre*/
li.help-elements {
    width: 85px;
    padding: 5px;
}

/* LAGE MENY RESPONSIV*/
@media (min-width: 750px) {
    .hamburger {
        display: none;
    }
   
    #hamburger-menu {
        display: none;
    }
    
    label[for=hamburger-menu] {
        display: block;
        position: absolute;
        font-size: 2em;
        right: 0px;
        top: 10px;
    }

        nav {
            display: block;
            width: 100%;
            list-style: none;
            box-sizing: border-box;
        }
        
        nav > ul {
            align-items: center;
            background-color: #113040;
            padding: 25px;
            margin: 0;
            width: 100%;
            height: 45px;
        }
        
        nav li {
            display: inline-block;
            width: 150px;
        }
        li.help-elements {
            float: right;
            width: 85px;
        }
    }